/*-- scss:defaults --*/

$tol-dark-white: #FFFFFF;
$tol-dark-blue: #222255;
$tol-dark-cyan: #225555;
$tol-dark-green: #225522;
$tol-dark-yellow: #666633;
$tol-dark-red: #663333;
$tol-dark-grey: #555555;

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code&family=Noto+Color+Emoji&family=Noto+Emoji:wght@300&display=swap');

$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family-emoji: "Noto Color Emoji";

/*-- scss:rules --*/

.noto-emoji {
  font-family: $font-family-emoji;
}
